@keyframes floatLR {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
  }
}

.animate-floatLR {
  animation: floatLR 6s ease-in-out infinite;
}
@keyframes floatUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  } /* moves up 20px */
}

.animate-floatUpDown {
  animation: floatUpDown 6s ease-in-out infinite;
}
